# Environment Variables
ENV=
NODE_ENV=
PORT=
SESSION_SECRET=
FRONTEND_URL=

# Google OAuth2.0
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

# PostgreSQL
DATABASE_URL=

# MongoDB
MONGODB_URL=
MONGODB_DB_NAME=