.root {
	background-color: #1e1e2e;
	font-family: "Segoe UI";
	font-size: 14px;
	-fx-background-color: #1e1e2e;
	-fx-font-family: "Segoe UI";
	-fx-font-size: 14px;
}

.button {
	background-color: #313244;
	border-radius: 4px;
	cursor: hand;
	-fx-background-color: #313244;
	-fx-text-fill: #cdd6f4;
	-fx-border-radius: 4px;
	-fx-background-radius: 4px;
	-fx-cursor: hand;
}

.button:hover {
	background-color: #45475a;
	-fx-background-color: #45475a;
}

.label {
	-fx-text-fill: #cdd6f4;
}

.date-picker .text-field {
	background-color: #313244;
	-fx-background-color: #313244;
	-fx-text-fill: #cdd6f4;
}